/* fonts */

* {
    font-size: 16px;
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    color: coral;
    font-family:'Caveat', sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Caveat', sans-serif;
}

h3 {
    font-size: 2rem;
    font-family: 'Caveat', sans-serif;
}

h1,
h2,
h3,
p {
    cursor:default;
}

@media only screen and (max-width: 760px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
}

/* banner */
.banner {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    border-bottom: 1px solid black;
    margin: 0 auto;
    padding: 0 10px;
    left: 0;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    height: 100px;
}

a {
    color: grey;
    text-decoration: none;
    font-family: 'Caveat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

a:hover {
    color: coral;
    cursor: pointer;
    text-decoration: none;
}

a:active {
    color: #FFB69C;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@media only screen and (max-width: 760px) {
    a {
        font-size: 1.25rem;
    }
    .nav {
        max-width: 650px;
    }
}

/* main */
body {
margin: 0 auto;
max-width: 1000px;
}

main {
    top: 0;
    padding-top: 100px;
}

.profile-pic-container {
    display: inline-block;
    justify-content:flex-end;
}

.profile-pic-container img {
    width: 300px;
    border-radius: 25%;
    top: 50px;
    padding-top: 25px
}

#about-me,
#projects,
#skills,
#contact {
    display: block;
    padding: 10px;
    margin: 0 auto
}

.about-me-container,
.projects-container,
.skills-container,
.contact-container {
    display: flex;
    
}

.about-me-text-container,
.projects-text-container,
.skills-text-container,
.contact-text-container {
    padding-right:20px;
}

@media only screen and (max-width: 760px) {
    body {
        max-width: 650px;
    }
    .profile-pic-container img {
        max-width: 250px;
    }
}

/* quiz */

#quiz-container {
    display: inline-block;
    margin:0 25%;
    border: 5px solid #803F28;
    border-radius: 15px;
    padding: 2rem;
}

#quiz-container h3 {
    padding: 0;
    margin: 0 0 1rem 0;
}

.question {
    font-weight: 600;
    font-family: sans-serif;
}

.answers {
    margin-bottom: 20px;
}

#submit {
   font-family: sans-serif;
   font-size: 20px;
   background-color: #CC653F;
   color: #fff;
   border: 0px;
   border-radius: 3px;
   padding: 20px;
   cursor: pointer;
   margin: 0 30%;
}

  #submit:hover {
    background-color: #FFB69C;
}

@media only screen and (max-width: 760px) {
    #quiz-container {
        margin: 0 15%;
    }
}

/* project section*/

.section::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.section h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.section img {
    width: 400px;
    display:inline-flex;
    justify-content: space-around;
    align-items: center;
}

details[open] {
    h3 {
       text-decoration: underline;  
    }
   
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

/* skills section */

.skills-img {
    width: 30px;
    padding-right: 10px;
}
/* contact section */

.contact-img {
    width: 30px;
    padding-right: 10px;
}

/* font family*/
/* cyrillic-ext */
@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/caveat/v17/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIipYSxP.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/caveat/v17/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIGpYSxP.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/caveat/v17/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIupYSxP.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/caveat/v17/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIWpYQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }